@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.contactButton {
    width: 190px;
    padding: 13px 22px 15px 23px;
    background-color: #1d252d; 
}
 
.contactButtonText {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}


/* Breakpoints */
@media screen and (max-width: 420px) {
    .contactButton {
        padding: 10px;
        width: 130px;
    }

    .contactButtonText {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
    }
}
 


